<div class="dashboard-container">
  <h2>Manager Dashboard</h2>
  <button class="primary" (click)="navigateToCreateMaintenanceStaff()">Create Maintenance Staff</button>
  <button class="primary" (click)="navigateToAddRequest()">Add Request</button>
  <button class="primary" (click)="navigateToGenerateBuildingReport()">Generate Building Report</button>
  <button class="primary" (click)="navigateToGenerateMaintenanceReport()">Generate Maintenance Report</button>
  <button class="primary" (click)="logout()">Logout</button>
</div>
