<div class="dashboard-container">
  <h2>Construction Company Admin Dashboard</h2>
  <button class="primary" (click)="navigateToCreateCompany()">Create My Construction Company</button>
  <button class="primary" (click)="navigateToCreateBuilding()">Create Building</button>
  <button class="primary" (click)="navigateToListBuildings()">List Buildings</button>
  <button class="primary" (click)="navigateToUpdateCompanyName()">Update Company Name</button>
  <button class="primary" (click)="logout()">Logout</button>
</div>
