<div class="container">
    <h2>Buildings</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Manager</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let building of buildings">
          <td>{{ building.name }}</td>
          <td>{{ building.address }}</td>
          <td>{{ building.managerName ? building.managerName : 'No Manager' }}</td>
        </tr>
      </tbody>
    </table>
    <button class="secondary" (click)="navigateToDashboard()">Back to Dashboard</button>
  </div>
  